<style>
  .jsGridSecurities-row>.jsgrid-cell.blue-cell {
    background-color: blue ;
    color:white
  }

  .jsGridSecurities-row>.jsgrid-cell.red-cell {
    background-color: red ;
    color:white
  }
</style>

{#<div class="row">#}
{#    <div class="col-xl-12">#}
{#        <div class="card-header border-0">#}
{#            <div class="row align-items-center">#}
{#                <div class="col">#}
{#                    <h3 class="mb-0">Güvenlik Görevlilileri</h3>#}
{#                </div>#}
{#                <div class="col text-right">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="table-responsive">#}
{#            <!-- Projects table -->#}
{#            <div class="col">#}
{#                <div id="jsGridSecurities"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
  <div  id="jsGridSecurities"></div>



{% block custom_js %}
    <script>
        let d_filter_securities_data = null;
        $(document).ready(function () {
            $("#jsGridSecurities").jsGrid({
                width: "100%",
                height: "530px",
                inserting: true,
                {#filtering: true,#}
                selecting: true,
                editing: true,
                sorting: true,
                autoload: true,
                loadMessage: "Lütfen bekleyin...",
                invalidMessage: "Hatalı Data Girişi!",


                //  paging: true,
                gridview: true,
                paging: true,
                pageSize: 10,
                pageButtonCount: 5,
                pagePrevText: "<",
                pageNextText: ">",
                pageFirstText: "<<",
                pageLastText: ">>",
                pagerFormat: "Sayfalar: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
                controller: {
                    loadData: function () {
                        let d = $.Deferred();
                        $.ajax({
                            method: 'GET',
                            url: "/securities_view/",
                            dataType: "json",
                            data: {
                                "csrfmiddlewaretoken": '{{ csrf_token }}'
                            },
                        }).done(function (response) {
                            if (response.success){
                                d.resolve(response.d_securities_list)
                            }
                        });

                        return d.promise();
                    }
                },
                onItemDeleting: function (args) {
                    console.log(args);
                    console.log("silmek istediğiniz kullanıcının durumunu pasif yapınız");
                },
                {# onItemEditing: function(args) {#}
                {##}
                {##}
                {#    if(args.item.ID === 0) {#}
                {#        args.cancel = true;#}
                {#    }#}


                onItemInserting: function (args) {
                    if (args.item.password.length < 6 || args.item.password.length > 10  ){
                        alert("parola en az 6 en fazla 10 karakter olabilir")
                        args.cancel = true;
                        return
                    }


                   /* const unique = $("#jsGridSecurities").jsGrid("option", "data").find(x => x.name === args.item.name)

                    if (unique.length){
                        MyToastWarn("Bu isimde birisi zaten var")
                         args.cancel = true;
                         return
                    }*/






                    $.ajax({
                        method: 'POST',
                        url: "{% url 'securities_view' %}",
                        dataType: "json",
                        async:false,
                        data: {
                            "in_go":"create",
                            "account_id": {{ customer.pk }},
                            "name": args.item.name,
                            "username": args.item.username,
                            "password": args.item.password,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        },
                    }).done(function (response) {
                        const {success}= response
                        if (success) {
                            MyToastSuccess("Güvenlik Kaydedildi")
                             $(".jsgrid-insert-mode-button").click()
                        } else {
                            const {desc}= response
                            MyToastWarn(desc);
                            args.cancel = true;
                        }
                    });
                },
                onItemUpdating: function (args) {

                    $.ajax({
                        method: 'POST',
                        url: "/securities_view/",
                        dataType: "json",
                        async:false,
                        data: {
                            "in_go":"update",
                            "user_id": args.item.id,
                            "name": args.item.name,
                            "username": args.item.username,
                            "password": args.item.password,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'

                        },
                    }).done(function (response) {
                        const {success}= response
                        if (success) {
                            MyToastSuccess("Güncelleme Başarılı")
                             $(".jsgrid-edit-mode-button").click()
                        } else {
                            const {desc}= response
                            MyToastWarn(desc);
                            args.cancel = true;
                        }
                    });
                },
                rowClick: function (args) {
                    {#console.log(args.item.id);#}
                },
                fields: [
                    {name: "id", title: "Id", type: "number", width: 10, visible: false, validate: "required"},
                    {name: "name", title: "İsim", type: "text", width: 150, validate: "required"},
                    {name: "username", title: "Kullanıcı Adı", type: "text", width: 100, validate: "required"},
                    {name: "password", title: "Parola", type: "text", width: 100},
                    {name: "is_active", title: "Durum", type: "checkbox", width: 80},
                    {type: "control", deleteButton: false}]
            });


        });
    </script>


{% endblock custom_js %}

