{% extends 'layouts/../layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Müşteri sayısı</h5>
                      <span class="h2 font-weight-bold mb-0 text-white">{{ customers_count }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-address-card"></i> </span>
                    <span class="text-nowrap"></span>
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

 <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0 text-white" >Müşteri Listesi</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Müşteri Adı</th>

                  <th scope="col" class="sort" data-sort="status">Status</th>

                  <th scope="col" class="sort" data-sort="completion">lisans</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">

              {% for customer in customers %}
                  <tr>

                   <th scope="row">
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3" id="td_img">{{customer.name.0}}</a>
                            <div class="media-body">
                                <span id="id_owner_name" class="name mb-0 text-sm text-capitalize text-white">{{customer.name}}</span>
                            </div>
                        </div>
                    </th>

                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="{% if customer.license_status %} bg-success {% else %} bg-warning {% endif %}"></i>
                      <span class="status">{% if customer.license_status %} aktif {% else %} pasif {% endif %}</span>
                    </span>
                  </td>



                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2  {% if date_now|timesince:customer.licence_date == "0 minutes" %} text-red {% else %} text-green {% endif %}">{{ date_now|timesince:customer.licence_date }}</span>
{#                      <div>#}
{#                            {{ customer.licence_date|date:"SHORT_DATE_FORMAT" }}#}
{#                      </div>#}

                        <div>
                             {{ customer.licence_date|date:"SHORT_DATE_FORMAT" }}
                      </div>

                    </div>
                  </td>

{#                                   <td>#}
{#                    <div class="d-flex align-items-center">#}
{#                      <span class="completion mr-2 text-cyan">98%</span>#}
{#                      <div>#}
{#                        <div class="progress">#}
{#                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </td>#}
{#                  #}
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'staff_me:customer' customer.pk %}">Detay</a>
{#                        <a class="dropdown-item" href="{% url 'staff_me:edit_customer' customer.pk %}">Düzenle</a>#}
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
{#          <!-- Card footer -->#}
{#          <div class="card-footer py-4">#}
{#            <nav aria-label="...">#}
{#              <ul class="pagination justify-content-end mb-0">#}
{#                <li class="page-item disabled">#}
{#                  <a class="page-link" href="#" tabindex="-1">#}
{#                    <i class="fas fa-angle-left"></i>#}
{#                    <span class="sr-only">Previous</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="page-item active">#}
{#                  <a class="page-link" href="#">1</a>#}
{#                </li>#}
{#                <li class="page-item">#}
{#                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item">#}
{#                  <a class="page-link" href="#">#}
{#                    <i class="fas fa-angle-right"></i>#}
{#                    <span class="sr-only">Next</span>#}
{#                  </a>#}
{#                </li>#}
{#              </ul>#}
{#            </nav>#}
{#          </div>#}
        </div>
      </div>
    </div>

    {% include "includes/../includes/footer.html" %}

  </div>




{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{#  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>#}
{#  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>#}

{% endblock javascripts %}
