{% extends 'layouts/base.html' %}

{#{% block title %} Tables {% endblock title %}#}


{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-md-8 col-xl-4 col-sm-12 ">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Hizmetli Sayısı</h5>
                                        <span class="h2 font-weight-bold mb-0 text-white">{{ services_count }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-settings"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
                                    <span class="text-nowrap"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    ------------------------------------------------ Cart Bottom --------------------------------------------------#}
    <div class="container-fluid mt--6 p-2">
        <div class="card">
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <i class="ni ni-building text-yellow"></i>
                    <span class="nav-link-text text-white">Hizmetliler</span>
                </div>
            </div>
            <div class="card-body">
                {% include 'cust_users/services/table-services.html' %}
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}

