{##}

<style>




</style>

 <div id="jsGridServices" class="jsgrid"></div>


{#    <div class="jsgrid-grid-header jsgrid-header-scrollbar">#}


{% block custom_js %}

    <script>
        let d_filter_securities_data = null;
        $(document).ready(function () {
            $("#jsGridServices").jsGrid({
                width: "100%",
                height: "490px",
                inserting: true,
                {#filtering: true,#}
                selecting: true,
                editing: true,
                sorting: true,

                {#     css: "blue-cell",#}
                {#headercss: "blue-cell",#}
                {#filtercss: "blue-cell",#}
                {#insertcss: "blue-cell",#}
                {#editcss: "",#}



                autoload: true,
                loadMessage: "Lütfen bekleyin...",
                invalidMessage: "Hatalı Data Girişi!",
                    //  paging: true,

                gridview: true,

                paging: true,
                pageSize: 10,
                pageButtonCount: 5,
                pagePrevText: "<",
                pageNextText: ">",
                pageFirstText: "<<",
                pageLastText: ">>",
                pagerFormat: "Sayfalar: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",

                controller: {
                    loadData: function () {

                        let d = $.Deferred();
                         $.ajax({
                             method: 'GET',
                             url: "{% url  'services:services_view' %}",
                             dataType: "json",
                             data: {
                                "csrfmiddlewaretoken": '{{ csrf_token }}'
                            },
                        }).done(function (response) {
                             const {success}= response
                            if (success) {
                                const {data} = response
                                d.resolve(data.services);

                            } else {
                               const {desc}= response
                                MyToastWarn(desc);

                            }
                        });

                        return d.promise();
                    }
                },
                onItemDeleting: function (args) {

                    console.log("silmek istediğiniz kullanıcının durumunu pasif yapınız");
                },
                onItemInserting: function (args) {

                    $.ajax({
                        method: 'POST',
                         url: "{% url  'services:services_view' %}",
                        dataType: "json",
                        async:false,
                      data: {
                            "in_go":"create",
                            "name": args.item.name,
                            "categories": args.item.categories,
                            "phone1": args.item.phone1,
                            "status": args.item.status,
                            "my_not": args.item.my_not,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        },
                    }).done(function (response) {
                         const {success}= response
                        if (success) {
                            MyToastSuccess("Kayit Başarılı")
                            $(".jsgrid-insert-mode-button").click()
                        } else {
                           const {desc}= response
                            MyToastWarn(desc);
                            args.cancel = true;
                        }
                    });
                },
                onItemUpdating: function (args) {

                    $.ajax({
                        method: 'POST',
                        url: "{% url  'services:services_view' %}",
                        dataType: "json",
                        async:false,
                        data: {
                            "in_go":"update",
                            "service_id": args.item.id,
                            "name": args.item.name,
                            "categories": args.item.categories,
                            "phone1": args.item.phone1,
                            "status": args.item.status,
                            "my_not": args.item.my_not,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'

                        },
                    }).done(function (response) {
                        const {success}= response
                        if (success) {
                            MyToastSuccess("Güncelleme Başalırıl")
                            $(".jsgrid-edit-mode-button").click()
                        } else {
                            const {desc}= response
                            MyToastWarn(desc);
                            args.cancel = true;
                        }
                    });
                },
                rowClick: function (args) {
                    {#console.log(args.item.id);#}
                },
                fields: [
                    {name: "id", title: "Id", type: "number", width: 10, visible: false, validate: "required"},
                    { name: "categories", width: 120 , title: "Katogori", type: "select",  selectedIndex: 0,
                        items:[
                            { Name: "Seç", Id: ""},
                            { Name: "Taksi", Id: "tax"},
                            { Name: "Elektrik", Id: "elk"},
                            { Name:"Su Tesisat", Id: "sut"},
                              { Name:"Boyaci", Id: "boy"},
                              { Name:"Hali Yıkama", Id: "hal"},
                              { Name:"Bahçevan", Id: "bah"},
                              { Name:"Temizlik", Id: "tem"},
                              { Name:"Kargo", Id: "kar"},
                              { Name:"Diğer", Id: "dig"},
                        ], valueField: "Id", textField: "Name", validate: function(value, item) {

                            return item.categories;
                        }
                    },
                    {#{name: "categories", title: "Katogori", type: "text", width: 50, validate: "required"},#}
                     {name: "name", title: "isim", type: "text", width: 150,
                        validate: { validator: "rangeLength", param: [4, 50],
                            message: function(value, item) { return "*isim en az 4 harften oluşmalıdır";
                            }},
                        _createTextBox: function() {
                            let $input = jsGrid.fields.text.prototype._createTextBox.call(this);
                            return $input.attr("maxlength", 50).attr("class","text-capitalize");
                        }
                    },
                     {name: "phone1",
                            title: "tel",
                            type: "text",
                            width: 120,
                            _createTextBox: function() {
                                let $input = jsGrid.fields.text.prototype._createTextBox.call(this);
                                return $input.attr("maxlength", 11);
                            },

                            validate:[
                                { validator: "rangeLength", param: [10, 12],
                                    message: function(value, item) { return "*Telefon 11 rakamdan oluşmalıdır";
                                    }},
                                function(value, item) {
                                    if (value.length > 0){
                                        return value.match(/^\d{11}$/)
                                    }
                                    else return true }
                            ]


                        },
                    {name: "status", title: "durum", type: "checkbox", width: 80, sorting:true},
                    {name: "my_not", title: "Not", type: "text", width: 150},
                    {type: "control", deleteButton: false, width: 70}]
            });


        });
    </script>


{% endblock custom_js %}

