{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Profile {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0 text-white">Yeni Müşteri oluştur </h3>
                            </div>
                            {#                            <div class="col-4 text-right">#}
                            {#                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/staff/create_customer/" method="post">
                            {% csrf_token %}
                            <h6 class="heading-small text-muted mb-4">Müşteri BİlGİlerİ</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label text-capitalize" for="{{ form.name.id_for_label }}">Müşteri Adı</label>
                                            {{ form.name.errors }}
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">

                                            <label class="form-control-label" for="{{ form.phone.id_for_label }}">Telefon Numarası</label>
                                            {{ form.phone.errors }}
                                            {{ form.phone }}
                                            {#                                            <input type="number" id="site_phone1" maxlength="11" required  name="site_phone1" class="form-control" placeholder="Telefon" value="">#}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label"  for="{{ form.licence_date.id_for_label }}" >Lisans Tarihi</label>
                                            {{ form.licence_date.errors }}
                                            {{ form.licence_date }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Address  <hr class="my-4"/> -->



                            <div class="pl-lg-4">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary mt-4" value="Projeyi Kaydet"/>
                                </div>
                                {#href="{% url 'staff_me:create_customer' %}#}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>
    <script type="text/javascript">
        function limit_input_tax_number() {
            let field = document.getElementById("tax_number");
            if (field.value.length > 10) {
                field.value = field.value.slice(0, 10);}}
        function limit_input_phone_number() {
            let field = document.getElementById("phone");
            if (field.value.length > 11) {
                field.value = field.value.slice(0, 11);}}
    </script>

{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}
