{% extends 'layouts/base.html' %}


{% block content %}

        <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
{#                <div class="row align-items-center py-4">#}
{#                    <div class="col-lg-6 col-7">#}
{#                    </div>#}
{#                    <div class="col-lg-6 col-5 text-right">#}
{#                        <p>"hellos</p>#}
{#                    </div>#}
{#                </div>#}
                <!-- Card stats -->
                <div class="row">
                    <div class="col-md-12 col-xl-12 col-sm-12 ">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <!-- header -->
                                <div class="row">

                                    <div class="col">
                                        <label for="labelBlok">Plaka Sorgula</label>
                                        {#                                        <h5 class="card-title text-uppercase text-muted mb-0">Raporlama</h5>#}
                                        <span class="h2 font-weight-bold mb-0"></span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <!-- visitor car  -->
                                    <div class="form-group col-md-3">
                                        <h5 class="card-title text-capitalize text-muted mb-0">Araç Plakası</h5>
                                        <div class="input-group">
                                            <label for="id_input_visitor_plate"></label>
                                            <input id="id_input_visitor_plate" value="" type="text" maxlength="8"
                                                   min="4"
                                                   class="form-control text-uppercase" placeholder="">
                                        </div>
                                    </div>

                                    <!-- Button  -->
                                    <div class="form-group col-md-2">
                                        <h5 class="card-title text-capitalize text-muted mb-0">-</h5>
                                        <label>
                                            <a href="javascript:go_ask();" class="btn btn-secondary btn-lg active "
                                               role="button" aria-pressed="true">Plakayı Sorgula</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




        {#    ------------------------------------------------ Cart Bottom --------------------------------------------------#}
{#    <div class="container-fluid mt--6" id="id_card_bottom">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="card">#}
{#                        <div class="card-header border-0 pb-0">#}
{#                            {% include 'cust_users/ask_plate/table-ask_plate.html' %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="container-fluid mt--6 p-2">
        <div class="card">
            <div class="card-header card-header-icon">
                <div class="card-icon">
                     <i class="ni ni-building text-yellow"></i>
                    <span class="nav-link-text text-white">Daire sakinleri araç plakaları</span>
                </div>

            </div>
            <div class="card-body">
                {% include 'cust_users/ask_plate/table-ask_plate.html' %}
            </div>
        </div>
    </div>








    <select id="id_blocks" style="visibility: hidden">
        {% for d_block in d_blocks %}
            <option value="{{ d_block.id }}">{{ d_block.name }}</option>
        {% endfor %}
    </select>

{% endblock content %}


{% block javascripts %}

    <script type="text/javascript">


        function go_ask() {
            const plate = $("#id_input_visitor_plate")
             go_norm(plate)
            if (plate.val().length < 4) {
                go_invalid(plate)
                alert("Dikkat ziyaretçi plakası en az 5 harfden oluşur")
                return;
            }
            $.ajax({
                type: 'POST',
                url: "{% url 'visitors:ask_car_plate_officer' %}",
                data: {
                    "plate": plate.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    // if not valid user, alert the user
                    if (response["success"]) {

                        $("#jsGridAskPlate").jsGrid("option", "data", response.car_plates);

                    } else alert("blok eşleşmedi");
                },
                error: function (response) {
                    console.log(response)
                }
            })
        }


        $("#id_input_visitor_plate").on("change", function () {
            const name = $(this).val();
            if (name) {
                if (name.length > 4) {
                    go_valid($(this))
                } else {
                    go_invalid($(this))
                }
            } else {
                go_valid($(this))
            }
        });


        function go_valid(val) {
            val.removeClass('is-invalid')
            val.addClass('is-valid')
        }

        function go_invalid(val) {
            val.removeClass('is-valid')
            val.addClass('is-invalid')
        }


        function go_norm(val) {
            val.removeClass('is-valid')
            val.removeClass('is-invalid')
        }

    </script>
{% endblock %}

