

<div id="jsGridAskPlate"></div>

{% block custom_js %}

    <script>
        let d_filter_securities_data = null;
        $(document).ready(function () {
            $("#jsGridAskPlate").jsGrid({
                width: "100%",
                height: "440px",
                inserting: false,
                {#filtering: true,#}
                selecting: true,
                editing: false,
                sorting: true,

                //autoload: true,
                loadMessage: "Lütfen bekleyin...",
                invalidMessage: "Hatalı Data Girişi!",
                //  paging: true,

                {#gridview: true,#}

                paging: true,
                pageLoading:true,
                pageSize: 10,
                pageButtonCount:10,
                pagePrevText: "<",
                pageNextText: ">",
                pageFirstText: "<<",
                pageLastText: ">>",
                {#pagerFormat: "Sayfalar: {prev}   {pages}  {next} ",#}
                pagerFormat: "Sayfalar: {first} {prev} {pages} {next} {last}  {pageIndex} de {pageCount} ",
{#&nbsp;&nbsp; total pages: {pageCount}#}
                controller: {

                    loadData: function (filter) {
                        {#debugger#}
                    }
                },

                rowClick: function (args) {
                    {#console.log(args.item.id);#}
                },
                fields: [
                    {name: "family__apartment__block_id",
                           itemTemplate: function(value, item) {
                               console.log(value)
                            const tat = $("#id_blocks option").map(function(i, el) {
                                if ($(el).val()===value.toString()){
                                     return $(el).text()
                                }
                            })

                            return $("<span>").attr("class", "status text-capitalize")
                            .text(tat[0])
                        },

                        title: "Blok", type: "text", width: 2},
                    {name: "family__apartment__name", title: "Daire", type: "text", width: 1},
                     {name: "plate", title: "Plaka No", type: "text", width: 1},

                    {type: "control", deleteButton: false, width: 10,  editButton: false, visible: false},

                ]
            });


        });
    </script>


{% endblock custom_js %}

{# <span class="badge badge-dot mr-4">#}
{#  <i class="bg-green"></i>#}
{#  <span class="status text-capitalize">verildi</span>#}
{#</span>#}