<div id="jsGridDevices"></div>

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#jsGridDevices").jsGrid({
                width: "100%",
                height: "350px",
                inserting: true,
                {#filtering: true,#}
                selecting: true,
                editing: true,
                sorting: true,
                autoload: false,
                paging: true,
                controller: {
                    loadData: function () {
                        let d = $.Deferred();
                        $.ajax({
                            method: 'GET',
                            url: "{% url 'staff_me:devices_view' %}",
                            dataType: "json",
                            data: {
                                "ap_id": ap_id,
                                "account_id":{{ customer.pk }},
                                "csrfmiddlewaretoken": '{{ csrf_token }}'
                            }, success: function (response) {
                                const {success} = response
                                if (success) {
                                    const {data} = response
                                    d.resolve(data.d_data);
                                } else {
                                    MyToastWarn(response.data.desc);
                                }
                            },
                            error: function (err) {
                                MyToastError(err);
                            }
                        })
                        return d.promise();
                    }
                },

                onItemInserting: function (args) {
                    $.ajax({
                        method: 'POST', dataType: "json", async: false,
                        url: "{% url 'staff_me:devices_view' %}",
                        data: {
                            "in_go": "create",
                            "ap_id": ap_id,
                            "key": args.item.key,
                            "device_type": args.item.device_type,
                            "name": args.item.name,
                            "status": args.item.status,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        },
                        success: function (response) {
                            const {success} = response
                            if (success) {
                                const {data} = response
                                args.item.pk = data.new_devices_id
                                args.item.status = true;
                                MyToastSuccess(data.desc)
                                $(".jsgrid-insert-mode-button").click()


                            } else {
                                MyToastWarn(response.data.desc);
                                args.cancel = true;
                            }
                        },
                        error: function (err) {
                            MyToastError(err);
                            args.cancel = true;
                        }
                    })
                },
                onItemUpdating: function (args) {
                    $.ajax({
                        method: 'POST',
                        url: "{% url 'staff_me:devices_view' %}",
                        dataType: "json",
                        async: false,
                        data: {
                            "in_go": "update",
                            "ap_id": ap_id,
                            "dev_id": args.item.pk,
                            "key": args.item.key,
                            "device_type": args.item.device_type,
                            "name": args.item.name,
                            "status": args.item.status,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'

                        },
                        success: function (response) {
                            const {success} = response
                            if (success) {
                                const {data} = response
                                MyToastSuccess(data.desc)
                                $(".jsgrid-edit-mode-button").click()

                            } else {
                                MyToastWarn(response.data.desc);
                                args.cancel = true;
                            }
                        },
                        error: function (err) {
                            MyToastError(err);
                            args.cancel = true;
                        }
                    })
                },
                rowClick: function (args) {
                    {#console.log(args.item.id);#}
                    $("#roleContainer").css('visibility', 'visible');
                    device_id = args.item.id

                    $("#id_label_device_name").text("Role : " + args.item.name);
                    $("#jsGridRoles").jsGrid("loadData");
                },
                fields: [
                    {name: "pk", title: "Id", type: "number", width: 40, visible: false},
                    {
                        name: "key", title: "key", type: "text", width: 71, validate: function (value, item) {

                            return item.key.length > 0 && item.key.length < 10
                        }
                    },
                    {
                        name: "device_type", width: 110, title: "Cihaz tipi", type: "select", selectedIndex: 0,
                        items: [
                            {Name: "Output", Id: "output"},
                            {Name: "Input", Id: "input"},
                        ], valueField: "Id", textField: "Name", validate: function (value, item) {
                            return item.device_type;
                        }
                    },
                    {
                        name: "name", title: "Cihaz adı", type: "text", width: 110, validate: function (value, item) {
                            return item.name.length > 2 && item.name.length < 15
                        }
                    },
                    {name: "status", title: "Durum", type: "checkbox", width: 80, inserting: false},
                    {name: "is_active", title: "Aktif", type: "checkbox", width: 80, inserting: false},
                    {name: "label", title: "Değer", type: "text", width: 110, editing: false, inserting: false},
                    {type: "control", deleteButton: false}]
            });
        });
    </script>


{% endblock javascripts %}

