

{% block javascripts %}

    <script>
        $(document).ready(function () {

            $("#jsGridRoles").jsGrid({
                width: "100%",
                height: "250px",
                inserting: true,
                {#filtering: true,#}
                selecting: true,
                editing: true,
                sorting: true,
                autoload: false,
                paging: true,
                controller: {
                    loadData: function () {
                        let d = $.Deferred();
                        $.ajax({
                            method: 'GET',
                            url: "{% url 'role_view' %}",
                            dataType: "json",
                            data: {
                                "device_id": device_id,
                                "csrfmiddlewaretoken": '{{ csrf_token }}'
                            },
                        }).done(function (response) {
                            d.resolve(response.d_data);
                        });

                        return d.promise();
                    }
                },

                onItemInserting: function (args) {

                    $.ajax({
                        method: 'POST', dataType: "json", async: false,
                        url: "{% url 'role_view' %}",
                        data: {
                            "in_go": "create",
                            "ap_id": ap_id,
                            "device_id": device_id,
                            "name": args.item.name,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        },
                    }).done(function (response) {
                        if (response.result) {
                            const {new_role_id} = response
                            args.item.id = new_role_id
                            args.item.is_active = true;
                            MyToastSuccess("Cihaz Kaydedildi")
                            $(".jsgrid-insert-mode-button").click()
                        } else {
                            if (response.status_message)
                                MyToastWarn(response.status_message);
                            args.cancel = true;
                        }
                    });
                },
                onItemUpdating: function (args) {
                    $.ajax({
                        method: 'POST',
                        url: "{% url 'role_view' %}",
                        dataType: "json",
                        async: false,
                        data: {
                            "in_go": "update",
                            "ap_id": ap_id,
                            "device_id": device_id,
                            "role_id": args.item.id,
                            "name": args.item.name,
                            "address": args.item.address,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'

                        },
                    }).done(function (response) {
                        if (response.result) {
                            MyToastSuccess("updatte Başarılı");
                            $(".jsgrid-edit-mode-button").click()
                        } else {
                            if (response.status_message)
                                MyToastWarn(response.status_message);
                            args.cancel = true;
                        }
                    });
                },
                rowClick: function (args) {
                    {#console.log(args.item.id);#}

                    device_id = args.item.id
                    $("#id_label_device_name").text("Cihaz : " + args.item.name);
                    $("#jsGridDevices").jsGrid("loadData");


                },
                fields: [
                    {name: "id", title: "Id", type: "number", width: 10, visible: false},
                    {
                        name: "name", title: "İsim", type: "text", width: 50,
                        validate: function (value, item) {
                            return item.name.length < 50 && item.name.length > 2
                        }
                    },
                    {name: "is_active", title: "Durum", type: "checkbox", width: 30, inserting: false},
                    {#{name: "api_key", title: "Key", type: "text", width: 30, inserting: false,  editing: false},#}
                    {type: "control", deleteButton: false}]
            });
        });
    </script>


{% endblock javascripts %}

