

<div class="row">
    <div class="col-xl-12">
        <div class="card p-2">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Yerleşkeler</h3>
                    </div>
                    <div class="col text-right">

                    </div>
                </div>
            </div>

                <!-- Projects table -->

        <div class="table-responsive" id="jsGridApartments"></div>

            <div class="col-12">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-white" id="id_label_ap_name">Cihazlar</h3>
                        </div>
                        <div class="col text-right">

                        </div>
                    </div>
                </div>

                <div class="col table-responsive" id="devicesContainer" style=" visibility: hidden">
                    {% include 'staff/customer_temp/tables/table-devices.html' %}
                </div>

            </div>
        </div>
    </div>
</div>



{% block custom_js %}
    <script>
        $(document).ready(function () {
            $("#jsGridApartments").jsGrid({
                width: "100%",
                height: "300px",
                inserting: true,
                {#filtering: true,#}
                selecting: true,
                editing: true,
                sorting: true,
                autoload: true,
                paging: true,
                controller: {
                    loadData: function () {
                        let d = $.Deferred();
                        $.ajax({
                            method: 'POST', dataType: "json", async:false,
                            url:"{% url 'staff_me:staff_campus_view' %}",

                            data: {
                                "in_go":"get_apartments",
                                "account_id":{{ customer.pk }},
                                "csrfmiddlewaretoken": '{{ csrf_token }}'
                            },
                        }).done(function (response) {
                            {#console.log(response)#}
                            d.resolve(response.d_apartments);
                        });

                        return d.promise();
                    }
                },
                onItemInserting: function (args) {

                    $.ajax({
                        method: 'POST', dataType: "json", async:false,
                        url:"{% url 'staff_me:staff_campus_view' %}",

                        data: {
                            "in_go":"create",
                            "name": args.item.name,
                            "account_id":{{ customer.pk }},
                            "address": args.item.address,
                            "wifi_name": args.item.wifi_name,
                            "wifi_pass": args.item.wifi_pass,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        },

                        success: function (response) {
                            const {success} = response

                             console.log("tamam yaptım",success)
                            if (success) {

                                args.item.id = response.data.new_apartments_id
                                args.item.is_active = true;
                                args.item.api_key= response.data.api_key

                                MyToastSuccess(response.data.desc)

                                $(".jsgrid-insert-mode-button").click()

                                $("#devicesContainer").css('visibility', 'visible');
                                ap_id = args.item.id
                                $("#id_label_ap_name").text("Yerleşke : "+args.item.name);
                                $("#jsGridDevices").jsGrid("loadData");

                                console.log("tamam yaptım")


                            } else {
                                MyToastWarn(response.data.desc);
                                args.cancel = true;
                            }
                            {#args.cancel = true;#}
                        },
                        error: function (err) {
                            MyToastError(err);
                            args.cancel = true;
                        },
                        // complete: function() {
                        // }
                    })
                },
                onItemUpdating: function (args) {
                    $.ajax({
                        method: 'POST',
                        url:"{% url 'staff_me:staff_campus_view' %}",
                        dataType: "json",
                        async:false,
                        data: {
                            "in_go":"update",
                            "account_id": {{ customer.pk }},
                            "ap_id": args.item.id,
                            "name": args.item.name,
                            "address": args.item.address,
                            "wifi_name": args.item.wifi_name,
                            "wifi_pass": args.item.wifi_pass,
                            "is_active": args.item.is_active,
                            "csrfmiddlewaretoken": '{{ csrf_token }}'

                        },
                        success: function (response) {
                            const {success} = response
                            if (success) {
                                const {data} = response

                                MyToastSuccess(data.desc)
                                $(".jsgrid-edit-mode-button").click()


                            } else {
                                MyToastWarn(response.data.desc);
                                args.cancel = true;
                            }
                            {#args.cancel = true;#}
                        },
                        error: function (err) {
                            MyToastError(err);
                            args.cancel = true;
                        }
                    })

                },
                rowClick: function (args) {
                    {#console.log(args.item.id);#}
                    $("#devicesContainer").css('visibility', 'visible');
                    ap_id = args.item.id

                    $("#id_label_ap_name").text("Yerleşke : "+args.item.name);
                    $("#jsGridDevices").jsGrid("loadData");
                },
                fields: [
                    {name: "pk", title: "Id", type: "number", width: 10, visible: false},
                    {name: "name", title: "Yerleşke Adı", type: "text", width: 100,
                        validate: function(value, item) {
                            return item.name.length < 49 && item.name.length > 1 }},

                    {name: "api_key", title: "key", type: "text", width: 110, editing:false, inserting: false},
                    {name: "wifi_name", title: "Wifi adı", type: "text", width: 110},
                    {name: "wifi_pass", title: "Wifi şifre", type: "text", width: 110},
                    {name: "address", title: "Adres", type: "text", width: 150},
                    {name: "device_last_online_date", title: "online", type: "text", width: 100, inserting: false},
                    {name: "is_active", title: "Aktif", type: "checkbox", width: 60, inserting: false},
                    {type: "control", deleteButton: false}]
            });
        });
    </script>


{% endblock custom_js %}

