
<div id="jsGridPlates"></div>

{% block javascripts %}
    <script>


        $(function () {
            {#------------------------------------------- CarPlates---------------------------------------------------------- #}
            $("#jsGridPlates").jsGrid({
                width: "100%",
                height: "350px",


                inserting: true,
                //filtering: true,
                selecting: true,
                editing: true,
                sorting: true,
                autoload: false,


                loadMessage: "Lütfen bekleyin...",
                deleteConfirm: "Eminmisiniz?",
                invalidMessage: "Hatalı Data Girişi!",


                {# pagination:false,#}
                {# paging: false,#}
                {#pageSize: 5,#}
                {#pageButtonCount: 5,#}
                {#pagePrevText: "<",#}
                {#pageNextText: ">",#}
                {#pageFirstText: "<<",#}
                {#pageLastText: ">>",#}

                controller: {
                    loadData: function () {
                        let d = $.Deferred();
                        {#d.resolve(d_car_plates)#}
                        return d.promise();
                    }
                },
                onItemInserting: function (args) {

                   const unique = d_carplates_data.filter(car => car.plate === args.item.plate)

                    if (unique.length){
                          MyToastWarn("Bu plaka zaten kayıtlı")
                         args.cancel = true;
                         return
                    }


                    $.ajax({
                        type: 'post',
                        url: "{% url 'family_view' %}",
                        dataType: "json",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        data: {
                            "go_to": "create_plate",
                            "plate": args.item.plate,
                            "apartment_id": apartment_id,
                            "family_id": family_id},
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        success: function (response) {
                            const {success}=response

                            if (success) {
                                args.item.id = response.data.plate_id
                                args.item.status = true
                                MyToastSuccess("Plaka no tanımlandı")
                                 $(".jsgrid-insert-mode-button").click()
                            } else MyToastWarn(response.desc);
                        },
                        error: function (response) {
                            MyToastError(response)
                        }
                    })},
                onItemDeleting: function(args) {


                },
                onItemUpdating: function (args) {

                     const unique = d_carplates_data.filter(car => car.plate === args.item.plate)

                    if (unique.length){
                         MyToastWarn("Bu plaka zaten kayıtlı")
                         args.cancel = true;
                         return
                    }

                    $.ajax({
                        type: 'post',
                        url: "{% url 'family_view' %}",
                        dataType: "json",
                           async:false,
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        data: {
                            "go_to": "edit_plate",
                            "palate_id":args.item.id,
                            "plate": args.item.plate,
                            "status": args.item.status,
                            "apartment_id": apartment_id,
                            "family_id": family_id},
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        success: function (response) {
                            const {success}=response
                            // if not valid user, alert the user

                            if (success) {
                                MyToastSuccess("Plaka güncellendi")

                                 $(".jsgrid-edit-mode-button").click()

                            } else{
                                MyToastWarn(response.data.desc);
                                 args.cancel = true;
                            }
                        },
                        error: function (response) {
                            MyToastError("Bir hata oluştu")
                            args.cancel = true;
                        }
                    })
                },
                rowClick: function (args) {
                    selectedBlokId = args.item.id;
                },
                fields: [
                    {name: "id", title: "Id", type: "number", width: 10, visible: false},
                    {name: "plate", title: "plaka", type: "text", width: 100,
                        validate: function(value, item) {
                        return item.plate.length < 10 && item.plate.length > 4 }
                    },

                    {name: "status", title: "durum", type: "checkbox", width: 3, sorting:true},
                    {type: "control", deleteButton: false, editButton: true, visible: true,  width: 3,}
                ]
            });

        });
    </script>
{% endblock %}

