{% load static %}
{#------------------------- CREATE FAMILY MODAL  ---------------------------------------------------#}


<div class="modal fade" id="id_modal_create_family" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Daire bilgilerini oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {# tc  #}

                <div class="input-group mb-2">
                    <label class="form-control-label" >Tc no</label>
                    <div class="input-group">
                        <label for="id_create_family_person_ssn"></label><input maxlength="11" type="number"
                                                                                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                                                class="form-control" id="id_create_family_person_ssn"/>

                    </div>
                    <span class="form-text text-muted">Tc kimlik numarası </span>
                </div>

                {# isim  #}

                <div class="input-group mb-2">
                    <label class="form-control-label" >İsim</label>
                    <div class="input-group">
                        <label for="id_create_family_person_name"></label><input
                            value=""
                            type="text" maxlength="50" class="form-control text-capitalize" id="id_create_family_person_name"/>
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>
                    <span class="form-text text-muted">Bu dairede oturacak en yetkili kişi </span>
                </div>

                {# Tel  #}

                <div class="input-group mb-2">
                    <label class="form-control-label" >Telefon</label>
                    <div class="input-group">
                        <label for="id_create_family_person_phone"></label><input
                            value=""
                            maxlength="11" type="number"
                            oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            class="form-control" id="id_create_family_person_phone"/>
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>
                    <span class="form-text text-muted">Bu alan zorunludur </span>
                </div>

                {# Tel  #}

                <div class="input-group mb-4">
                    <label class="form-control-label" >Email</label>
                    <div class="input-group">
                        <label for="id_create_family_person_email"></label><input type="text"  maxlength="50" class="form-control" id="id_create_family_person_email"/>
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>
                    <span class="form-text text-muted"></span>
                </div>


                <div class="input-group mb-4">
                    <label class="form-control-label" >Bu kişi aynı zamanda tapu sahibi mi ?</label>
                    <div class="input-group">
                        <input type="checkbox" id="id_create_family_person_is_owner" aria-label="Checkbox for following text input">
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>

                </div>

                {#foto#}
                <div class="input-group mb-3">
                    <label class="form-control-label" >Profil resmi</label>
                    <div class="input-group">
                        <input type="file" id="id_picture" class="form-control mb-3" onchange="onImageChange(this)" >
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>

                </div>

            </div>



            <div class="modal-footer">
{#                <button type="button" class="btn btn-outline-success" id="id_button_submit"  onclick="testMe();">Test</button>#}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-outline-success" id="id_button_submit"  onclick="uploadNewFamilyFile();">Oluştur</button>
            </div>


        </div>
    </div>
</div>

{% block javascripts %}



    <script>

        $('#id_modal_create_family').on('hidden.bs.modal', function (e) {
            clear_modal();
        })


        function clear_modal(){
            $('#id_modal_create_family').on('hidden.bs.modal', function (e) {
                $(this)
                    .find("input,textarea,select")
                    .val('')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
            })
        }



        $('#id_create_family_person_ssn').keypress(function(event){
            if ($(this).val().length === 11){
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')
            }else{
                $(this).removeClass('is-valid')
                $(this).addClass('is-invalid')
            }


        });

        $('#id_create_family_person_phone').keypress(function(event){
            if ($(this).val().length ===11){
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')
            }else{
                $(this).removeClass('is-valid')
                $(this).addClass('is-invalid')

            }
        });

        $('#id_create_family_person_name').keypress(function(event){
            if ($(this).val().length > 3){
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')
            }else{
                $(this).removeClass('is-valid')
                $(this).addClass('is-invalid')
            }
        });

        $('#id_create_family_person_email').keypress(function(event){

            if (regex_email.test($(this).val()))
            {
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')

            }else{

                $(this).addClass('is-invalid')
            }

        });

        function onImageChange(e){
            if (e.files) {
                let imageFile = e.files[0];
                let reader = new FileReader();
                reader.onload = function (re) {
                    let img = document.createElement("img");
                    img.onload = function (event) {
                                                // Dynamically create a canvas element
                        window.rljs.uploadFile = imageResize(img,imageFile);
                    }
                    img.src = re.target.result;
                }
                reader.readAsDataURL(imageFile);
            }
        }

        function uploadNewFamilyFile() {


            const ssn=$("#id_create_family_person_ssn").val()
            const name=$("#id_create_family_person_name").val()
            const phone=$("#id_create_family_person_phone").val()
            const email=$("#id_create_family_person_email").val()

            let flag_ok = true


            if (ssn.length === 0 || ssn.length === 11)flag_ok=true
            else  $("#id_create_family_person_ssn").addClass('is-invalid')


            if (name.length < 4){
                $("#id_create_family_person_name").addClass('is-invalid')
                $("#id_create_family_person_name").attr("placeholder", "*zorunlu alan")
                flag_ok = false
            }

            if (phone.length !== 11){
                $("#id_create_family_person_phone").attr("placeholder", "*zorunlu alan")
                $("#id_create_family_person_phone").addClass('is-invalid')
                flag_ok = false
            }

            if (email.length !== 0){
                if ( !regex_email.test(email)){
                    $("#id_create_family_person_email").addClass('is-invalid')
                    flag_ok = false
                }
            }

            if (!flag_ok){
                console.log("hatali girişler var")
                return
            }

            if (apartment_id === null){
                alert("dikkat daire id çözümlenemedi")
                return
            }
            let data = new FormData()
            data.append("picture", window.rljs.uploadFile, window.rljs.uploadFile.name);
            //data.append("picture ", $("#id_picture")[0].files[0]);
            data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            data.append( "go_to","create_family")
            data.append( "apartment_id",apartment_id)
            data.append( "name",name)
            data.append( "phone",phone)
            data.append( "categories","day")
            data.append( "ssn",ssn)
            data.append( "email",email)
            data.append("is_owner",  $("#id_create_family_person_is_owner").is(':checked') )

            $.ajax({
                method: "POST",
                url: "{% url 'family_view' %}",
                processData: false,
                contentType: false,
                mimeType: "multipart/form-data",
                data:data,
                success: function(res) {
                    const obj = JSON.parse(res);
                    const {data:{desc},success}=obj
                    if (success){
                        MyToastSuccess("Kayıt Başarılı")
                        $('#id_modal_create_family').modal('hide')
                         get_apartment_info()

                        clear_modal()
                    }else {
                        MyToastWarn(desc)
                    }
                }
            })
        }

      {#CLICK ADD NEW FAMILY#}
        $("#id_bt_add_new_family").click(function () {
            {#$("#id_card_bottom").css("visibility", "visible");#}
            $('#id_modal_create_family').modal('show');
        });

        $(function () {
            {#$('#id_modal_create_family').modal('show');#}
            /* 1. OPEN THE FILE EXPLORER WINDOW */
            $("#js-upload-photos").click(function () {
                console.log("hello click")
            });
        });
    </script>
{% endblock %}