{% load static %}
{#------------------------- EDIT Parent MODAL  ---------------------------------------------------#}



<div class="d-flex justify-content-start">

    <div class="card-header border-0" >

        <div class="card-header">
            Daire bilgileri
        </div>

        <div class="card-body">

            <ol class="list-group list-group-numbered">

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto" >
                        <div class="fw-bold"> Blok</div>
                        <label id="id_label_info_block">-</label>
                    </div>
                    <span class="badge bg-primary rounded-pill"></span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"> Daire</div>
                        <label id="id_label_info_apartment">-</label>
                    </div>
                    <span class="badge bg-primary rounded-pill"></span>
                </li>

            </ol>
        </div>

    </div>


    <div class="card-header border-0" >

        <div class="card-header">
            Yetkili bilgileri
        </div>

        <div class="card-body">

            {# isim  #}
            <div class="input-group mb-2">
                <label class="form-control-label" >İsim</label>
                <div class="input-group">
                    <label for="id_parent_name"></label><input value="" type="text" disabled class="form-control text-capitalize" style="background-color: #626177" id="id_parent_name"/>
                </div>
            </div>

            {# Tel  #}
            <div class="input-group mb-4">
                <label class="form-control-label" >Telefon</label>
                <div class="input-group">
                    <label for="id_parent_phone"></label><input value="-" type="text"  maxlength="11"  style="background-color: #626177" disabled class="form-control" id="id_parent_phone"/>
                </div>
            </div>

        </div>

        {#        <div class="row no-gutters">#}
        {#            <div class="col-12 col-sm-6 col-md-8"></div>#}
        {#            <div class="col-6 col-md-4">#}
        {#                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#id_modal_edit_parent" data-whatever="@fat">Değiştir</button>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <div class="card-header border-0" >

        <div class="card-header">
            Diğer bilgiler
        </div>

        <div class="card-body">

            <ol class="list-group list-group-numbered">

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto" >
                        <div class="fw-bold"> Oluşturma tarihi</div>
                        <label id="id_label_created_date">-</label>
                    </div>
                    <span class="badge bg-primary rounded-pill"></span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"> Güncelleme tarihi</div>
                        <label id="id_label_updated_date">-</label>
                    </div>
                    <span class="badge bg-primary rounded-pill"></span>
                </li>

            </ol>
        </div>

    </div>

</div>

{#<div class="modal fade" id="id_modal_edit_parent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Yetkili kişiyi düzenleyin</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
                {# isim  #}
{#                <div class="input-group mb-2">#}
{#                    <label class="form-control-label" >İsim</label>#}
{#                    <div class="input-group">#}
{#                        <label for="id_edit_parent_name"></label><input#}
{#                            value="" disabled type="text" maxlength="50" class="form-control text-capitalize" id="id_edit_parent_name"/>#}
{#                    </div>#}
{#                    <span class="form-text text-muted">Bu dairenin yetkili kişisi </span>#}
{#                </div>#}
{##}
                {# select #}
{#                <div class="input-group mb-2" id="id_div_select_in_residents">#}
{#                    <label class="form-control-label" >Sakinler </label>#}
{#                    <div class="input-group">#}
{#                        <label for="id_select_residents_for_parent"></label>#}
{#                        <select aria-label="Default select example"  id="id_select_residents_for_parent" class="form-control">#}
{#                            <option value="">--seç--</option>#}
{#                        </select>#}
{##}
{#                    </div>#}
{#                    <div class="valid-feedback">Success! You've done it.</div>#}
{#                    <span class="form-text text-muted">Bu kişilerden seçebilirsiniz</span>#}
{#                </div>#}
{##}
{#                <input type="hidden" id='id_selected_parent_id' value="">#}
{##}
{##}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>#}
{#                    <button type="button" class="btn btn-outline-success" id="id_button_submit"  onclick="uploadEditParentFile();">Oluştur</button>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<div class="modal fade" id="id_modal_confirm_edit_parent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Dikkat !</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{##}
{#            <div class="modal-body">#}
{#                <form>#}
{#                    <div class="form-group">#}
{#                        <label for="recipient-name" id="" class="col-form-label">Daire yetkilisinin adını değiştirmek üzeresiniz !</label>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="form-check">#}
{#                        <label for="id_checkbox_confirm_change_parent"></label><input class="form-check-input" type="checkbox" value="no_select" id="id_checkbox_confirm_change_parent">#}
{#                        <label class="form-check-label" for="defaultCheck1"> Evet ne yaptığımı biliyorum. </label>#}
{#                        <small id="id_valid_confirm_change_parent" class="form-text text-muted color" style="visibility: hidden"><p class="text-danger">* Lütfen onaylayınız </p></small>#}
{##}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>#}
{#                <button type="button" class="btn btn-outline-success" id="id_bt_edit_parent_confirm">Değiştir</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% block javascripts %}

    <script>



    </script>
{% endblock %}