<div class="card-header border-0" >

    <div class="card-header">
        Not
    </div>
    <div class="card-body">
        <h5 class="card-title text-muted">Bu daireye ait not </h5>
        <p class="card-text" id="id_p_note"></p>

        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#id_modal_edit_note" data-whatever="@fat">Değiştir</button>
    </div>
</div>


<div class="modal fade my_modal_color" id="id_modal_edit_note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"  >
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Not oluşturun </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="input-group mb-2">
                    <label class="form-control-label" >Not</label>
                    <div class="input-group">
                        <label for="id_note"  ></label><input type="text" maxlength="250"  class="form-control text-muted" id="id_note"/>
                    </div>
                    <div class="valid-feedback">Success! You've done it.</div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-outline-success" id="id_button_submit"  onclick="uploadEditNote();">Değiştir</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}

    <script>



        function uploadEditNote() {
            const note = $("#id_note").val()

            if (family_id === null) {
                alert("dikkat daire id çözümlenemedi")
                return
            }

             $.ajax({
                    method: 'POST',
                    url: "{% url 'family_view' %}",
                    dataType: "json",
                    data:{
                        "go_to":"edit_note",
                        "note": note,
                        "family_id": family_id,
                        "apartment_id": apartment_id,
                        "csrfmiddlewaretoken": '{{ csrf_token }}' },
                }).done(function(response) {
                    const {data:{desc},success}=response

                    if (success) {

                        $("#id_p_note").text(note);
                        $('#id_modal_edit_note').modal('hide')
                        MyToastSuccess("Güncelleme Başarılı")

                    }
                    else {
                        MyToastWarn(desc);
                    }
                });

        }

            $(function () {
                $('#id_modal_edit_note').on('show.bs.modal', function (e) {
                    $("#id_note").val($("#id_p_note").text())
                })


            $('#id_modal_confirm_edit_owner').on('hidden.bs.modal', function (e) {
                $(this)
                    .find("input,textarea,select")
                    .val('')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
            })

        });

        $(function () {

            {#$("#id_p_note").text(note)#}
        });

    </script>
{% endblock %}